@*Developed by M.Labaj*@
@using Project.Models
@model Project.Models.Song
@{
    ViewBag.Title = "Song Library";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cookie = Request.Cookies["CustID"];
    string userID = "";
    if (cookie != null)
    {
        userID = cookie.Value;
    }

    var cookieUsername = Request.Cookies["Username"];
    string Username = "";
    if (cookieUsername != null)
    {
        Username = cookieUsername.Value;
    }
}

<h2>Song Library</h2>

<table class="table songs table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Artist</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var song in Model)
    {
        <tr>
            <td>@Html.ActionLink(song.Title, "SongDetails", "Song", new { id = song.Id }, null)</td>
            <td>@song.Artist</td>
        </tr>
    }
    </tbody>
</table>
