@*Developed by M.Labaj*@
@model List <Project.Models.Song>
@{
    ViewBag.Title = "Song Library";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cookie = Request.Cookies["custID"];
    string custID = "";
    if (cookie != null)
    {
        custID = cookie.Value;
    }
}

<h2>Song Library</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.Title</td>
                @*<td>@Html.ActionLink(song.Title, "SongLibrary", "Song", new {id = song.Id}, null)</td>*@
                <td>@song.Artist</td>
                <td><a href="/Song/RegisterSong/@song.Id/@custID">Add</a></td>
            </tr>
        }
    </tbody>
</table>